[submodule "MarketOptics-front"]
	path = frontend
	url = https://github.com/Gabucado/MarketOptics-front.git
[submodule "MarketOptics-back"]
	path = backend
	url = https://github.com/Gabucado/MarketOptics-back.git
